@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.affix {
  position: fixed;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before {
  content: " ";
  display: table;
}
.clearfix:after,
.container-fluid:after,
.container:after,
.row:after {
  clear: both;
}
a,
abbr,
address,
b,
blockquote,
body,
button,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
samp,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
tr,
ul,
var {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: 0;
}
ol,
ul {
  list-style: none;
}
article,
aside,
dialog,
figure,
footer,
header,
img,
nav,
section {
  display: block;
}
address {
  font-style: normal;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}
textarea {
  resize: none;
  font: 12px arial;
}
h1,
h2,
h3 {
  font-weight: 400;
}
em {
  font-style: normal;
}
a {
  text-decoration: none;
}
button {
  background: 0 0;
}
label {
  cursor: pointer;
}
input {
  background: 0 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
figure {
  margin: 0;
}
input,
textarea {
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
select {
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 0;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
  opacity: 0;
}
body {
  -webkit-text-size-adjust: 100%;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-text-size-adjust: none;
  -moz-osx-font-smoothing: antialiased;
  -moz-text-size-adjust: none;
  -moz-font-smoothing: antialiased;
  text-size-adjust: none;
  font-smoothing: antialiased;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
a,
button {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.alert-browser {
  background-color: #ffa229;
  border: 3px solid #c2720a;
  color: #432702;
  float: left;
  width: 100%;
  padding: 6px 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font: 16px arial;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}
.alert-browser .center {
  width: 900px;
}
.alert-browser .txt {
  float: left;
  width: 80%;
  text-align: left;
  margin-bottom: 8px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.alert-browser strong {
  display: block;
}
.alert-browser a {
  display: block;
  color: #c2720a;
  background-color: #fff;
  display: inline-block;
  padding: 8px;
  margin-top: 5px;
}
.flex {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
}
.poscenter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, -124px, 0);
  -moz-transform: translate3d(0, -124px, 0);
  -o-transform: translate3d(0, -124px, 0);
  transform: translate3d(0, -124px, 0);
  -webkit-transition: All 0.3s ease-in-out;
  -moz-transition: All 0.3s ease-in-out;
  -o-transition: All 0.3s ease-in-out;
  transition: All 0.3s ease-in-out;
}
.header.fixed.slideDown {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.header__logo {
  float: left;
  margin: 10px 0;
}
.header__phone {
  float: right;
  margin-top: 25px;
}
.header__phone .caption {
  display: inline-block;
  margin-right: 20px;
  color: rgb(21, 255, 0);
  font-weight: bold;
  font-size: 16px;
}
.header__phone .number1 {
  display: inline-block;
  padding: 10px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
}
.header__phone .number {
  display: inline-block;
  padding: 10px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 3px;
  font-weight: bold;
}
.header__phone .icon {
  display: none;
}
@media only screen and (max-width: 767px) {
  .header {
    position: relative;
    background-color: #fff;
  }
  .header__logo {
    display: table;
    float: none;
    margin: 10px auto;
  }
  .header__logo img {
    margin: auto;

  }
  .header__phone {
    float: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 999;
    margin: 0;
    padding-left: 0;
    text-align: center;
    font-weight: 700;
    line-height: 70px;
    background-color: #99d557;
    background-position: center center;
  }
  .header__phone .caption {
    margin: 0 5px 0 0;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
  }
  .header__phone .number {
    padding: 0;
    border: none;
    font-size: 14px;
    color: #fff;
  }
  .header__phone .icon {
    display: block;
    margin: 12px 0 0 20px;
    float: left;
    padding: 12px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #fff;
  }
  .header__phone .icon--arrow {
    float: right;
    width: 15px;
    height: 15px;
    margin: 26px 20px 0 0;
    padding: 0;
    background: 0 0;
  }
}
.footer {
  position: relative;
  padding: 110px 0 300px;
  background: url(../images/bg/bg-footer.jpg) center center no-repeat;
  background-size: cover;
}
.footer__wrap {
  display: block;
  max-width: 550px;
  margin: 0 auto;
  padding-top: 10px;
  border-top: 1px solid #000;
}
.footer__wrap .social {
  float: left;
  width: 40px;
  height: 40px;
  margin-left: 25px;
  border-radius: 50%;
  background: url(../images/svg/face.svg) center center #99d557 no-repeat;
  background-size: 20px;
}
.footer__wrap .copy {
  margin: 12px 20px 0 0;
  float: right;
  font-size: 16px;
  color: #000;
}
@media only screen and (max-width: 1200px) {
  .footer {
    padding: 20px 0 290px;
  }
}
@media only screen and (max-width: 992px) {
  .footer {
    padding: 0 0 190px;
  }
}
@media only screen and (max-width: 767px) {
  .footer {
    margin-bottom: 50px;
  }
  .footer__wrap {
    width: 85%;
    padding-top: 20px;
    float: none;
    text-align: center;
  }
  .footer__wrap .social {
    display: inline-block;
    float: none;
    margin: 0;
  }
  .footer__wrap .copy {
    margin: 10px 0 0;
  }
  .footer--services {
    margin-top: 40px;
  }
}
body {
  font-family: Montserrat, sans-serif;
}
body .title {
  position: relative;
  z-index: 1;
  margin-bottom: 25px;
  font-size: 35px;
  font-weight: 400;
  color: black;
  text-align: center;
}
body .title:before {
  content: attr(data-before);
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;
  z-index: -1;
  margin: 0 auto;
  color: #f6f6f6;
  font-size: 56px;
  font-weight: 700;
}

.pagar{
  
  background-color: #000000ce;
  padding: 20px;
  text-align: center;
  display: block;
  color: rgb(255, 255, 255);
  margin-top: 30px;
  font-weight: 600;
  font-size: 30px;
}

.pagar:hover{
  background-color: #474646de;
  transition-duration: 0.2s;
  padding: 20px;
  text-align: center;
  display: block;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.imagew{
  width: 40%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

body .text {
  font-size: 14px;
  text-align: center;
  color: #474747;
}
body .form {
  position: relative;
  width: 370px;
  height: 480px;
  margin: auto 0;
  padding: 0 10px;
  background-color: #d9ff0081;
  border-radius: 5px;
  box-shadow: 0 10px 32px rgba(214, 210, 210, 0.16) 0.16);
}
body .form .title {
  margin: 20px 0;
  padding: 0 25px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.568)0.267);
}
body .form label {
  font-size: 12px;
  color: #fff;
}
body .form .form-control {
  width: 100%;
  height: 46px;
  margin: 5px 0 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 3px;
  color: #7d7d7d;
  font-size: 12px;
  -webkit-transition: All 0.3s ease-in-out;
  -moz-transition: All 0.3s ease-in-out;
  -o-transition: All 0.3s ease-in-out;
  transition: All 0.3s ease-in-out;
}
body .form .form-control::-webkit-input-placeholder {
  color: #7d7d7d;
  opacity: 1;
}
body .form .form-control:-moz-placeholder {
  color: #7d7d7d;
  opacity: 1;
}
body .form .form-control::-moz-placeholder {
  color: #7d7d7d;
  opacity: 1;
}
body .form .form-control:-ms-input-placeholder {
  color: #7d7d7d;
  opacity: 1;
}
body .form .form-control:focus::-webkit-input-placeholder,
body .form .form-control:hover::-webkit-input-placeholder {
  color: #7d7d7d;
  opacity: 1;
}
body .form .form-control:focus:-moz-placeholder,
body .form .form-control:hover:-moz-placeholder {
  color: #7d7d7d;
  opacity: 1;
}
body .form .form-control:focus::-moz-placeholder,
body .form .form-control:hover::-moz-placeholder {
  color: #7d7d7d;
  opacity: 1;
}
body .form .form-control:focus:-ms-input-placeholder,
body .form .form-control:hover:-ms-input-placeholder {
  color: #7d7d7d;
  opacity: 1;
}
body .form .form-control.error::-webkit-input-placeholder {
  color: #f12;
  opacity: 1;
}
body .form .form-control.error:-moz-placeholder {
  color: #f12;
  opacity: 1;
}
body .form .form-control.error::-moz-placeholder {
  color: #f12;
  opacity: 1;
}
body .form .form-control.error:-ms-input-placeholder {
  color: #f12;
  opacity: 1;
}
body .form .btn {
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 15px;
  padding-top: 15px;
  background-color: #ffffff;
  border-radius: 3px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: All 0.3s ease-in-out;
  -moz-transition: All 0.3s ease-in-out;
  -o-transition: All 0.3s ease-in-out;
  transition: All 0.3s ease-in-out;
}

body .form .btn:hover {

  background-color: #00000085;

  color: rgb(255, 255, 255);


  cursor: pointer;

}

.featured {
  position: relative;
  height: 810px;
  padding: 0 0 70px;
  background: url(../images/bg/banner.jpg) center center no-repeat;
  background-size: cover;
}
.featured .container {
  position: relative;
  height: 100%;
}
.featured .form {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
}
.featured--services {
  margin-bottom: 20px;
  background: url(../images/bg/banner2.jpg) center center no-repeat;
}
.featured--services .form {
  left: 295px;
  bottom: 0;
  top: 340px;
  width: 450px;
  height: 440px;
  margin: auto;
  background-color: #c6da7a;
}
.featured--services .form .title {
  padding: 0;
  color: #2d2d2d;
  font-size: 18px;
}
.about,
.assistence {
  padding-bottom: 70px;
  padding-top: 70px;
}
.services {
  padding-bottom: 70px;
}
.services__wrap {
  position: relative;
  width: 100%;
  margin: 30px auto 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 10px 23px rgba(0, 0, 0, 0.16);
}
.services__wrap:before {
  content: "";
  position: absolute;
  top: -50px;
  left: -50px;
  width: 199px;
  height: 142px;
  background: url(../images/misc/leaf1.png) center center no-repeat;
  background-size: cover;
}
.services__wrap:after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -50px;
  width: 134px;
  height: 107px;
  background: url(../images/misc/leaf2.png) center center no-repeat;
  background-size: cover;
}
.services__list {
  position: relative;
  margin: 0 auto;
  padding: 10px 120px;
  border: 3px solid rgba(153, 213, 87, 0.15);
}
.services__list:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 2px;
  height: 90%;
  background-color: #bfdf51;
}
.services__list .item {
  display: inline-block;
  width: 45%;
  margin: 10px 0;
  padding-left: 25px;
  font-size: 18px;
  color: #474747;
  background: url(../images/svg/check.svg) left center no-repeat;
  background-size: 15px;
}
.services__list .item:nth-child(2n) {
  margin-left: 85px;
}
.plans {
  margin-bottom: 70px;
  padding: 110px 0;
  background: url(../images/bg/nuvens.png) center center #abdade repeat;
  background-size: cover;
}
.plans .title {
  display: none;
  color: #30aa00;
}
.plans__card {
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 40px 15px 20px;
  text-align: center;
}
.plans__card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
  border-radius: 5px;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.16);
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}
.plans__card .title {
  font-size: 25px;
  color: grey;
  text-transform: uppercase;
  font-weight: 700;
}
.plans__card .price {
  font-size: 25px;
  color: #CD7F32  ;
  font-weight: 700;
}

.plans__card .price2 {
  font-size: 25px;
  color: #C0C0C0  ;
  font-weight: 700;
}

.plans__card .price3 {
  font-size: 25px;
  color: #D4AF37
  ;
  font-weight: 700;
}

.plans__card .price4 {
  font-size: 25px;
  color: #00b7ff;
  font-weight: 700;
}

.plans__card .subtitle {
  display: block;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 700;
  color: #181818;
}
.plans__card .text {
  color: #484848;
}
.plans__card .text--height {
  height: 54px;
}

.textp{
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.192);
  border-radius: 100px;
  margin-top: 2px;
  font-weight: 500;
  font-size: 20px;
}

.location {
  padding-bottom: 70px;
}
.location .text {
  font-size: 18px;
}
.location .mapa {
  display: block;
  width: 90%;
  height: 321px;
  margin: 20px auto 0;
}
.benefits {
  padding-bottom: 70px;
}
.benefits .image {
  position: relative;
  padding: 15px;
  border: 3px solid rgba(153, 213, 87, 0.15);
}
.benefits .image:after {
  content: "";
  position: absolute;
  top: -40px;
  left: -100px;
  width: 199px;
  height: 144px;
  background: url(../images/misc/leaf1.png) center center no-repeat;
  background-size: cover;
  z-index: -1;
}
.benefits .image img {
  width: 100%;
  z-index: 2;
}
.benefits .form {
  width: 100%;
  height: auto;
  padding: 0;
  background-color: #fff;
  box-shadow: none;
}
.benefits .form .title {
  margin: 0 0 25px;
  padding: 0 10px;
  font-size: 25px;
  color: #4e8a00;
  text-align: left;
}
.benefits .form label {
  color: #474747;
}
.benefits .form .form-control {
  margin: 5px 0 15px;
  background-color: #f1f2f2;
}
.benefits .form .btn {
  background-color: #99d557;
}
@media only screen and (min-width: 1200px) {
  .plans__card:hover .price,
  .plans__card:hover .subtitle,
  .plans__card:hover .text,
  .plans__card:hover .title {
    color: #fff;
  }
  .plans__card:hover:after {
    background-color: #5fcad4;
    -webkit-transform: scaleY(1.1);
    -moz-transform: scaleY(1.1);
    -o-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  .plans {
    animation: slide 20s linear infinite;
  }
  @keyframes slide {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -400px 0;
    }
  }
}
@media only screen and (max-width: 1190px) {
  .featured {
    background-position: 58% bottom;
  }
  .featured--services {
    margin-bottom: 0;
  }
  .featured--services .form {
    left: 0;
    bottom: 0;
    top: 0;
  }
  .plans__card .text--height {
    height: 74px;
  }
  .services__list {
    padding: 10px 64px;
  }
  .services__list .item {
    margin: 10px 0 10px 22px;
  }
  .services__list .item:nth-child(2n) {
    margin-left: 50px;
  }
  .benefits .form .title {
    margin: 0 0 10px;
    font-size: 20px;
  }
  .benefits .form .form-control {
    margin: 5px 0;
  }
  .benefits .form .btn {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 992px) {
  body .title {
    font-size: 22px;
  }
  body .title:before {
    top: -18px;
    font-size: 36px;
  }
  body .subtitle {
    font-size: 18px;
  }

  body .about{
    padding-top: 300px;
  }
  body .text {
    font-size: 14px;
  }
  .featured {
    background-position: 34% bottom;
  }
  .featured .form {
    position: relative;
    width: 100%;
    height: auto;
    margin: 520px 0 0;
    padding: 30px 10px;
  }
  .featured .form .title {
    margin: 0 0 20px;
    padding: 0 5px;
    font-size: 19px;
  }
  .featured .form .form-control {
    margin: 5px 0;
  }
  .featured--services {
    height: 580px;
    background-position: 61% bottom;
    background-size: cover;
  }
  .featured--services .form {
    margin: 310px 0 0;
  }
  .about {
    padding: 20px 0 70px;
  }
  .services__wrap {
    margin: 45px auto 0;
  }
  .services__wrap:after {
    right: 0;
  }
  .services__list {
    padding: 10px 127px;
  }
  .services__list:after {
    display: none;
  }
  .services__list .item {
    width: 100%;
    margin: 10px 0;
  }
  .services__list .item:nth-child(2n) {
    margin: 0;
  }
  .plans {
    padding: 80px 0;
  }
  .plans .owl-carousel .owl-dots {
    margin-top: 10px;
    text-align: center;
  }
  .plans .owl-carousel .owl-dots .owl-dot {
    display: inline-block;
    vertical-align: middle;
    height: 8px;
    width: 13px;
    margin: 0 4px;
    background-color: #6eb7bd;
    border-radius: 2px;
    transition: width 0.3s 0.15s ease, background 0.25s ease;
  }
  .plans .owl-carousel .owl-dots .owl-dot.active {
    width: 30px;
    background-color: #009caa;
  }
  .plans__card .text--height {
    height: 54px;
  }
  .location .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .location .mapa {
    width: 100%;
  }
  .benefits .image {
    margin: 60px 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .featured {
    height: 330px;
  }
  .featured .form {
    margin: 250px 0 0;
    padding: 20px 0;
  }
  .featured .form .title {
    margin: 0 0 15px;
    padding: 0;
    font-size: 15px;
  }
  .featured .form .form-control {
    height: 40px;
    margin: 5px 0 10px;
  }
  .featured .form .btn {
    margin-top: 10px;
  }
  .about {
    padding: 350px 0 70px;
  }
  .about--services {
    padding-top: 250px;
  }
  .plans {
    padding: 40px 0;
  }
  .plans .title {
    display: block;
    color: rgb(0, 0, 0);
    font-size: 35px;
    border-radius: 20px;
    background-color: #fbff0028;
    font-family:;
  }
  .services__wrap {
    padding: 12px;
  }
  .services__wrap:before {
    top: -30px;
    left: -13px;
    width: 69px;
    height: 52px;
  }
  .services__wrap:after {
    width: 54px;
    height: 47px;
  }
  .services__list {
    padding: 5px 14px;
  }
  .services__list .item {
    font-size: 14px;
  }
  .location {
    padding: 0;
  }
  .location .text {
    font-size: 13px;
  }
  .location .mapa {
    position: relative;
    height: 400px;
  }
  .location .address {
    width: 100%;
    margin-top: 0;
    padding-bottom: 0;
    border-radius: 0;
    box-shadow: none;
    border-top: 1px solid #eee;
  }
  .benefits .image:after {
    top: -40px;
    left: -27px;
    width: 98px;
    height: 76px;
  }
  .benefits .form {
    margin-top: 20px;
  }
  .benefits .form .title {
    font-size: 16px;
    text-align: center;
  }
  .benefits .form .form-control {
    margin: 10px 0;
  }
}
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: initial;
  -webkit-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}
.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
.no-js .owl-carousel {
  display: block;
}
.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.owl-height {
  transition: height 0.5s ease-in-out;
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 0.4s ease;
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 0.1s ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.4s ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 1190px) {
  .owl-carousel .owl-stage-outer {
    overflow: hidden;
  }
}
